.partyWrapper{
  justify-content: center;
  margin-top:32px;
  column-gap: 12px;
}

.partyCard{
  border: 1px solid black;
  margin-bottom: 12px;
}

div.ui.segment.container {
  box-shadow: none !important;
  border: none !important;
}
.dmToggle{
  position: absolute;
  top: 12px;
  right:12px;
}
.healBtn{
  background: green;
  font-weight: bold;
  color: white;
  width: 45%;
  padding: 0 12px;
  text-align: left;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.damBtn{
  background: maroon;
  font-weight: bold;
  color: white;
  width: 45%;
  padding: 0 12px;
  text-align: right;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.hpAdjuster{
  width: 100%;
  position: relative;
  height: 2.3rem;
}

.hpAdjuster input{
  width: 16%;
  border-radius: 18px;
  position: absolute;
  height: 2rem;
  left: 42%;
  top: .17rem;
  text-align: center;
  border: none;
  outline: none;
  font-size: 1rem;
}
.inputWrapper{
  height: 2.57142857em;
  z-index: 3;
  width: 2%;
  overflow: visible;
}
