<h1>Equipment
  <button class='mini ui primary button labeled icon' style='vertical-align: text-bottom; margin-left:12px' *ngIf='!gatherNewInfo' (click)='toggleForm()'>
    <i class="plus square outline icon"></i>
    Add Equipment
  </button>
  <form style='display:inline-block; font-size:14px' #equipForm='ngForm' (ngSubmit)='onSubmit($event)' *ngIf='gatherNewInfo'>
    <input type='text' class='equipInput' placeholder="Item"  [(ngModel)]='equip' name="equip">
    <input type='number' class='weightInput' placeholder="Weight"   [(ngModel)]='wt' name="wt" step='0.1'>
    <input type='text' class='locInput' placeholder="Location"  [(ngModel)]='loc' name="loc">
    <button class='mini ui primary button'>Submit</button>
  </form>
  <div>
    <span class='ui input' style='font-size:1rem; width:33%; margin-top:12px' ><input type='text' name='filter' [value]='filterText' placeholder="Filter - type in value" (input)='filterList($event)' /></span>
  </div>
</h1>
<div class="ui grid gridHeader">
  <div class="one wide column"></div>
  <div class="six wide column">Item</div>
  <div class="three wide column">Weight</div>
  <div class="five wide column">Location</div>
</div>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div *ngFor='let nt of allEquip.results' class="ui grid gridRow example-box" cdkDrag>
      <div class="example-handle one wide column" cdkDragHandle  style="font-weight: normal;">
        <i class="bars icon" alt='Reorder'></i>
      </div>
      <span class='stat six wide column' style="font-weight: normal;">
        {{nt.equip}}
      </span>
      <span class='stat three wide column' style="font-weight: normal;">
        {{nt.weight}}
      </span>
      <span class='stat five wide column' style="font-weight: normal;">
        {{nt.location}}
      </span>
      <div class="column one wide ui"><i class="trash alternate outline icon pointer"  title="Edit" (click)='deleteEquip($event, nt.id)'></i></div>
  </div>
  <div class="ui grid" style="border-top:1px solid #ccc">
    <div class="seven wide column">Total Weight</div>
    <div class="three wide column">{{totalWeight}}</div>
    <div class="six wide column"></div>
  </div>
</div>
