<h1>{{titleValue()}}</h1>
<div class="ui secondary pointing menu">
  <a routerLink='./' class="item" routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Class and Race</a>
  <a routerLink='stats' class="item" routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Stats</a>
  <a routerLink='tohits' routerLinkActive='active' class="item">To Hits</a>
  <a routerLink='saves' routerLinkActive='active' class="item">Saves</a>
  <a routerLink='skills' routerLinkActive='active' class="item">Skills</a>
  <a routerLink='feats' routerLinkActive='active' class="item">Feats</a>
  <a routerLink='equip' routerLinkActive='active' class="item">Equipment</a>
  <!-- <a routerLink='spells' routerLinkActive='active' class="item">Spells</a> -->
</div>
<div class="ui segment">
  <router-outlet></router-outlet>
</div>
