<div class="content" role="main">
  <div class="ui secondary pointing menu">
    <a routerLink='' class="item" routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a *ngIf='isLoggedIn' routerLink='charLoad' class="item" routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Load Character</a>
    <a *ngIf='isLoggedIn' routerLink='charGen' routerLinkActive='active' class="item" >Character WTF</a>
    <a *ngIf='isLoggedIn' routerLink='newChar' routerLinkActive='active' class="item" >New Character</a>
    <a routerLink='party' routerLinkActive='active' class="item" >Party</a>
    <div class="item" style='position: absolute; right:0px;'>Welcome {{theUser['userName']}}</div>
  </div>
  <div class="ui segment container">
    <router-outlet></router-outlet>
  </div>
