<!--
<table class="ui selectable celled table striped">
  <thead>
    <tr><th>Name</th>
    <th>Race</th>
    <th>Class(es)</th>
    <th>Level(s)</th>
  </tr></thead>
  <tbody>
    <tr style='cursor: pointer;' *ngFor='let c of characters' (click)='displayChar(c.charID, c.charName)'>
      <td data-label='Name'>{{c.charName}}</td>
      <td data-label='Race'>{{c.Race.raceDesc}}</td>
      <td data-label='Classes'>{{getClasses(c.CharLevels)}}</td>
      <td data-label='Levels'>{{getLevels(c.CharLevels)}}</td>
    </tr>

  </tbody>
</table>
<table class="ui selectable celled table striped">
  <thead>
    <tr>
      <th colspan="4">Dead</th>
    </tr>
  </thead>
  <tbody>
    <tr style='cursor: pointer;' *ngFor='let c of deadCharacters' (click)='displayChar(c.charID, c.charName)'>
      <td data-label='Name'>{{c.charName}}</td>
      <td data-label='Race'>{{c.Race.raceDesc}}</td>
      <td data-label='Classes'>{{getClasses(c.CharLevels)}}</td>
      <td data-label='Levels'>{{getLevels(c.CharLevels)}}</td>
    </tr>

  </tbody>
</table>
-->
<div class="ui cards">
    <app-char-card *ngFor = "let aChar of characters" [char]="aChar" (click)='displayChar(aChar.charID, aChar.charName)' ></app-char-card>
</div>
