<form [formGroup]='charForm' (ngSubmit)='onSubmit()'>
  <div class="container">
    <p><strong>Character Name:</strong><br/>{{charBasic.results.charName}}</p>
      <div class="ui two column grid">
        <div class="column">
          <div class="ui">
            <p><strong>Race:</strong><br/>{{charBasic.results.Race.raceDesc}}</p>
            <p><strong>Class(es):</strong>&nbsp;<span class='statMod'><i *ngIf='isMyCharacter' class="edit icon pointer" title="Edit" (click)='editLevels(charID)'></i></span><br/>
            <ng-container *ngFor='let c of charBasic.results.CharLevels'>
              <strong>{{c['CharClass']['className']}}:</strong> {{c.classLevel}}<br/>
            </ng-container>
            </p>
            <div class="m-b-3 p-0">
              <p><strong>Alignment:</strong><br/>{{charBasic.results.Alignment.alignName}}</p>
            </div>
          </div>
        </div>
        <div class="column">
          <p><strong>HP:</strong><br/> {{charBasic.results.charHP}}
            <span class='statMod'><i *ngIf='isMyCharacter' class="edit icon pointer" title="Edit" (click)='editHP(charID)'></i></span></p>
          <p><strong>AC:</strong><br/>
            {{this.charAC}}
            <span class='statMod'><i class="info circle icon pointer" title="Breakdown" (click)='showBreakDown($event)'></i></span>
            <span class='statMod'><i *ngIf='isMyCharacter' class="edit icon pointer" title="Edit" (click)='editAC(charID)'></i></span>
          </p>
          <div class="sixteen wide column breakdown ui" style="margin-left: 0px;">
            <div *ngFor='let st of acs["results"]'>
              <div  style='margin:12px' >{{st.score}}:  {{st.modDesc === '' ? 'Base' : st.modDesc}}</div>
            </div>
          </div>
          <p><strong>Initiative:<br/></strong>
            {{this.init}}
            <span class='statMod'><i *ngIf='isMyCharacter' class="edit icon pointer" title="Edit" (click)='editInit(charID)'></i></span>
          </p>
          <p><strong>Experience Points:<br/></strong>
            {{this.charXP}}
            <span class='statMod'><i *ngIf='isMyCharacter' class="edit icon pointer" title="Experience Points" (click)='editXP(charID)'></i></span>
          </p>
          <!--
          <p><strong>Languages:<br/></strong>
            {{this.charAC}}
            <span class='statMod'><i class="edit icon pointer" title="Edit" (click)='editAC(charID)'></i></span>
          </p>
          -->
        </div>
      </div>
  </div>
</form>

